<label for="">Server Name</label>

<!-- one way binding -->
<!-- <input type="text" class="form-control" (input) = "onUpdateServerName($event)"> -->

 <!-- two way binding -->
<input type="text" class="form-control" [(ngModel)]="serverName">
<hr/>
<!-- <p>{{serverName}}</p> -->
<!-- property binding -->
<button class="btn btn-primary" [disabled]="!allowServer" (click)="onCreateServer()" >Add server</button>
<!-- <p [innerText]="allowServer"></p> -->
<!-- directive -->
<p *ngIf="serverCreated">the server was created {{serverName}}</p>
<div>
<!-- string interpolation -->
<p>{{ serverCreationStatus }}</p>
  servers works!
  <app-server></app-server>
</div>
